<h1>National Pokedex</h1>

{{!-- Filters --}}
{{> filters}}

{{!-- Pokedex --}}
<section class="pokedex col-md-10 col-md-offset-2">
	{{#each pokedex}}
		<div data-id="{{id}}" id="pokedex-pokemon-{{id}}" data-toggle="tooltip" title="{{identifier}} - Generation #{{generation}}" data-name="{{identifier}}" class="pokemon generation-{{generation}}">
      <div class="pokemon-image" style="background-position: {{backgroundPosition}}"></div>
			<div class="pokemon-capture"></div>
      <div class="pokemon-id">{{padId}}</div>
		</div>
	{{/each}}
</section>

{{!-- Javascript --}}
<script src="/javascripts/index.js"></script>